body {
   background: lightgray;
}

.gfg { 
    width:auto; 
    text-align:center; 
} 

.well{
   border-radius: 3px;
   margin-top: 25px;
   border: none;
}
.well img {
   width: 100%; 
   height: 100px; 
   object-fit: contain; 
   padding: 10px;
   display: block;
   margin: auto auto auto auto;
}

.well > hr {
   border: 1px darkgray;
   border-style: solid;
}

.card {
   background: white;
   border-radius: 3px;
   padding: 15px;
   margin-top: 25px;
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card .shiny-text-output {
   font-size: large;
}

div[class^=col] {
    padding-left: 6px;
    padding-right: 12px;
}

.infofloat{
   float: right;
   color: darkgray;
}

.popover {
   width: 120%;
}
